/*sidebar_setting*/

#sidebar_setting {
  position: fixed;
  height: 100%;
  width: 220px;
  transition-duration: .3s;
  z-index: 5;
  color: #435966;
}
#sidebar_setting a {
  color: #435966;
}
#sidebar_setting .menu-segment {
  padding: 0 50px;
}
#sidebar_setting .menu-segment ul,
#sidebar_setting .menu-segment li {
  margin: 0;
  padding: 0;
}
#sidebar_setting .menu-segment .ball.pink {
  border-color: #ff8acc;
}
#sidebar_setting .menu-segment .ball.green {
  border-color: #10c469;
}
#sidebar_setting .menu-segment .ball.blue {
  border-color: #188ae2;
}
#sidebar_setting .menu-segment li.title {
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 0;
  color: #465162;
}
#sidebar_setting .menu-segment li.title .icon {
  float: right;
}
#sidebar_setting .menu-segment li.active a,
#sidebar_setting .menu-segment li.active a:hover {
  color: #ff5b5b;
  font-weight: 600;
}
#sidebar_setting .menu-segment li a {
  display: block;
  margin: 0 -50px;
  /*padding: 10px 50px;*/
  padding: 10px 0px;
}
#sidebar_setting .menu-segment li a:hover {
  background: rgba(152, 166, 173, 0.3);
}
#sidebar_setting .menu-segment li .italic-link {
  font-style: italic;
  font-weight: 600;
}
#sidebar_setting .menu-segment .labels li a span,
#sidebar_setting .menu-segment .chat li a span {
  display: block;
  border: 5px solid #ff5b5b;
  border-radius: 100px;
  margin-top: 6px;
}
#sidebar_setting .menu-segment .labels.labels li a span,
#sidebar_setting .menu-segment .chat.labels li a span {
  float: right;
}
#sidebar_setting .menu-segment .labels.chat li a span,
#sidebar_setting .menu-segment .chat.chat li a span {
  float: left;
  margin-right: 10px;
}
#sidebar_setting .menu-segment .chat li a {
  padding-left: 20px;
}
#sidebar_setting .separator {
  margin: 30px 35px;
  height: 1px;
  background: rgba(152, 166, 173, 0.5);
}
#sidebar_setting .bottom-padding {
  height: 100px;
}
#sidebar_setting > .nano-pane {
  background: transparent;
  width: 5px;
}
#sidebar_setting > .nano-pane .nano-slider {
  background: rgba(152, 166, 173, 0.3);
}
/*main_setting*/
#main_setting {
  position: fixed;
  top: 125px;
  left: 270px;
  bottom: 0;
  right: 0;
  z-index: 4;
  transition-duration: .3s;
  background-color: #ffffff;
}
#main_setting .overlay {
  position: absolute;
  top: 0;
  left: -5px;
  right: 0;
  bottom: 100%;
  background: rgba(67, 89, 102, 0.6);
  z-index: 5;
  opacity: 0;
  transition-duration: 0s;
  transition-property: opacity;
}
#main_setting .header {
  padding: 20px 25px;
  border-bottom: 1px solid rgba(152, 166, 173, 0.3);
  overflow: hidden;
}
#main_setting .header .page-title {
  display: block;
  float: left;
}
#main_setting .header .page-title .sidebar_setting-toggle-btn {
  width: 0;
  margin-top: 1px;
  padding: 11px 0 0 0;
  float: left;
  position: relative;
  display: block;
  cursor: pointer;
  transition-duration: .3s;
  transition-delay: .5s;
  opacity: 0;
  margin-right: 0;
}
#main_setting .header .page-title .sidebar_setting-toggle-btn .line {
  height: 3px;
  display: block;
  background: #888;
  margin-bottom: 4px;
  transition-duration: .5s;
  transition-delay: .5s;
}
#main_setting .header .page-title .sidebar_setting-toggle-btn .line-angle1 {
  width: 8px;
  margin: 0;
  position: absolute;
  top: 15px;
  left: -11px;
  transform: rotate(-60deg);
}
#main_setting .header .page-title .sidebar_setting-toggle-btn .line-angle2 {
  width: 8px;
  margin: 0;
  position: absolute;
  top: 21px;
  left: -11px;
  transform: rotate(60deg);
}
#main_setting .header .page-title .icon {
  font-size: 15px;
  margin-left: 20px;
  position: relative;
  top: -5px;
  cursor: pointer;
}
#main_setting .header .search-box {
  width: 180px;
  height: 40px;
  margin-left: 30px;
  position: relative;
}
#main_setting .header .search-box input {
  position: absolute;
  top: 0;
  transition-duration: .3s;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  text-indent: 15px;
  height: 40px;
  z-index: 2;
  outline: none;
  color: #999;
  background: transparent;
  border: 2px solid #EFEFEF;
  border-radius: 5px;
  transition-timing-function: cubic-bezier(0.3, 1.5, 0.6, 1);
}
#main_setting .header .search-box input:focus {
  color: #333;
  border-color: #d6d6d6;
}
#main_setting .header .search-box input:focus ~ .icon {
  opacity: 1;
  z-index: 3;
  color: #10c469;
}
#main_setting .header .search-box .icon {
  transition-duration: .3s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 40px;
  text-align: center;
  line-height: 40px;
  z-index: 1;
  cursor: pointer;
  opacity: .5;
}
#main_setting .action-bar {
  padding: 5px;
  overflow: hidden;
}
#main_setting .message-list {
  display: block;
  padding-left: 0px;
}
#main_setting .message-list li {
  position: relative;
  display: block;
  height: 50px;
  line-height: 50px;
  cursor: default;
  transition-duration: .3s;
}
#main_setting .message-list li:hover {
  background: rgba(152, 166, 173, 0.15);
  transition-duration: .05s;
}
#main_setting .message-list li .col {
  float: left;
  position: relative;
}
#main_setting .message-list li .col-1 {
  width: 400px;
}
#main_setting .message-list li .col-1 .star-toggle,
#main_setting .message-list li .col-1 .checkbox-wrapper-mail,
#main_setting .message-list li .col-1 .dot {
  display: block;
  float: left;
}
#main_setting .message-list li .col-1 .dot {
  border: 4px solid transparent;
  border-radius: 100px;
  margin: 22px 26px 0;
  height: 0;
  width: 0;
  line-height: 0;
  font-size: 0;
}
#main_setting .message-list li .col-1 .checkbox-wrapper-mail {
  margin-top: 15px;
  margin-right: 10px;
}
#main_setting .message-list li .col-1 .star-toggle {
  margin-top: 18px;
  font-size: 16px;
  margin-left: 5px;
}
#main_setting .message-list li .col-1 .title {
  position: absolute;
  top: 15px;
  left: 140px;
  right: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#main_setting .message-list li .col-2 {
  position: absolute;
  top: 0;
  left: 400px;
  right: 0;
  bottom: 0;
}
#main_setting .message-list li .col-2 .subject,
#main_setting .message-list li .col-2 .date {
  position: absolute;
  top: 0;
}
#main_setting .message-list li .col-2 .subject {
  left: 0;
  right: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#main_setting .message-list li .col-2 .date {
  right: 0;
  width: 200px;
  padding-left: 80px;
}
#main_setting .message-list li.active,
#main_setting .message-list li.selected {
  background: rgba(152, 166, 173, 0.15);
  transition-duration: .05s;
}
#main_setting .message-list li.active,
#main_setting .message-list li.active:hover {
  box-shadow: inset 3px 0 0 #71b6f9;
}
#main_setting .message-list li.unread {
  font-weight: 600;
  color: #555;
}
#main_setting .message-list li.blue-dot .col-1 .dot {
  border-color: #188ae2;
}
#main_setting .message-list li.orange-dot .col-1 .dot {
  border-color: #f9c851;
}
#main_setting .message-list li.green-dot .col-1 .dot {
  border-color: #10c469;
}
#main_setting .load-more-link {
  display: block;
  text-align: center;
  margin: 30px 0 50px 0;
}
.show-main_setting-overlay #main_setting .overlay {
  opacity: 1;
  bottom: 0;
  transition-duration: .5s;
}
.show-sidebar_setting #main_setting .header .page-title .sidebar_setting-toggle-btn {
  transition-delay: 0s;
}
.show-sidebar_setting #main_setting .header .page-title .sidebar_setting-toggle-btn .line-angle1 {
  transform: rotate(-120deg);
}
.show-sidebar_setting #main_setting .header .page-title .sidebar_setting-toggle-btn .line-angle2 {
  transform: rotate(120deg);
}
#main_setting #main_setting-nano-wrapper {
  position: absolute;
  top: 100px;
  bottom: 0;
  height: auto;
}