USE [MyDB]
GO
/****** Object:  Table [dbo].[TBL_TEST_TREE]    Script Date: 01/09/2017 01.04.11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TEST_TREE](
	[TREE_ID] [int] IDENTITY(1,1) NOT NULL,
	[TREE_NAME] [nvarchar](50) NULL,
	[TREE_PARENT_ID] [int] NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[TBL_TEST_TREE] ON 

INSERT [dbo].[TBL_TEST_TREE] ([TREE_ID], [TREE_NAME], [TREE_PARENT_ID]) VALUES (1, N'A', 0)
INSERT [dbo].[TBL_TEST_TREE] ([TREE_ID], [TREE_NAME], [TREE_PARENT_ID]) VALUES (2, N'B', 0)
INSERT [dbo].[TBL_TEST_TREE] ([TREE_ID], [TREE_NAME], [TREE_PARENT_ID]) VALUES (3, N'AC', 1)
SET IDENTITY_INSERT [dbo].[TBL_TEST_TREE] OFF
